rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	
		// match /groups/{groupId}{
		// 	allow read,write :if resource.data.groupIn==groupId;
		// }	
    
    match /users/{userId}{
    	allow read:if isSignedIn()
      allow write:if isOwner(userId)
    }
  	
    match /{document=**} {
      // Allow read and write access to all if the user is signed in
      allow read,write : if isSignedIn()
    }
    
  	

	// Functions //
  
    function isSignedIn(){
    return request.auth!=null

    }
  
    function isOwner(userId){
      return request.auth.uid==userId
    }
  }
}